.box {
  color: white;
  font-size: 50px;
  text-align: center;
  text-shadow: 4px 4px 0 rgba(0,0,0,0.1);
  padding: 10px;
}

/* Colors for box1 */
.box1 { background: red;}
  .menu li {
      display: inline-block;
      list-style-type: none;
      margin: 10px;
      padding: 50px;
      overflow: hidden;
      background-color: ghostwhite;
      border-top: 3px color:red;
      margin-left: 50px
      margin-right: 50px
  }

  li a {
      display: block;
      text-align: center;
      padding: 30px;
      text-decoration: none;
  }

h1 {
  text-align: center;
   font-size: 3em;
   text-decoration-color: #d40dff;
}

p {
  text-align: center;
   font-size: 1em;
}

.image1 {
  padding-left: 50px;
  flex-direction: column;
  justify-content: left;
  resize: vertical;
  }

.image2 {
  padding-left:475px;
}
